<% if current_user %>
<strong>Nice!</strong>
	<p>hello [<%= current_user.username %>] </p>

<% else %>
    <h1>Welcome to my TFI</h1>
    <p>You can do stuff if you Log in :) </p>
    <p>If you don't have an account you can Sign up!</p>
<% end %>