<!-- app/views/usuarios/show.html.erb -->

<h1><%= @user.username %>'s Profile </h1>

<p>Username <%= @user.username %></p>
<p>Email: <%= @user.email %></p>


<%= link_to "Delete my account", edit_user_registration_path %>

